<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webSpider.dao.CleMusicInfoTemp1Mapper" >
  <resultMap id="BaseResultMap" type="com.webSpider.pojo.CleMusicInfoTemp1" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="musicid" property="musicid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="composerid" property="composerid" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, musicid, name, composerid, tag
  </sql>
  <!--<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from cle_musicinfo_temp1-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >-->
    <!--delete from cle_musicinfo_temp1-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.webSpider.pojo.CleMusicInfoTemp1" >-->
    <!--insert into cle_musicinfo_temp1 (id, musicid, name, -->
      <!--composerid, tag)-->
    <!--values (#{id,jdbcType=INTEGER}, #{musicid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, -->
      <!--#{composerid,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR})-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.webSpider.pojo.CleMusicInfoTemp1" >-->
    <!--insert into cle_musicinfo_temp1-->
    <!--<trim prefix="(" suffix=")" suffixOverrides="," >-->
      <!--<if test="id != null" >-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="musicid != null" >-->
        <!--musicid,-->
      <!--</if>-->
      <!--<if test="name != null" >-->
        <!--name,-->
      <!--</if>-->
      <!--<if test="composerid != null" >-->
        <!--composerid,-->
      <!--</if>-->
      <!--<if test="tag != null" >-->
        <!--tag,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides="," >-->
      <!--<if test="id != null" >-->
        <!--#{id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="musicid != null" >-->
        <!--#{musicid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="name != null" >-->
        <!--#{name,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="composerid != null" >-->
        <!--#{composerid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="tag != null" >-->
        <!--#{tag,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.webSpider.pojo.CleMusicInfoTemp1" >-->
    <!--update cle_musicinfo_temp1-->
    <!--<set >-->
      <!--<if test="musicid != null" >-->
        <!--musicid = #{musicid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="name != null" >-->
        <!--name = #{name,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="composerid != null" >-->
        <!--composerid = #{composerid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="tag != null" >-->
        <!--tag = #{tag,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.webSpider.pojo.CleMusicInfoTemp1" >-->
    <!--update cle_musicinfo_temp1-->
    <!--set musicid = #{musicid,jdbcType=VARCHAR},-->
      <!--name = #{name,jdbcType=VARCHAR},-->
      <!--composerid = #{composerid,jdbcType=VARCHAR},-->
      <!--tag = #{tag,jdbcType=VARCHAR}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->


  <!-- 根据musicid查询 -->
  <select id="selectByMusicId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from tb_musicinfo
    where musicid = #{musicid}
  </select>

  <select id="selectMusicIdByPageNum" resultType="java.lang.String" parameterType="java.util.HashMap">
    SELECT musicid from cle_musicinfo_temp1 WHERE name IS NULL LIMIT #{pageBegin} , #{pageEnd}
  </select>
</mapper>