<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webSpider.dao.CleUserMusicMapper" >
  <resultMap id="BaseResultMap" type="com.webSpider.pojo.CleUserMusic" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="musicid" property="musicid" jdbcType="VARCHAR" />
    <result column="ratio" property="ratio" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, musicid, ratio
  </sql>

  <!-- 根据musicid查询 -->
  <select id="selectByMusicId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from tb_musicinfo
    where musicid = #{musicid}
  </select>
</mapper>