<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webSpider.dao.User2MusicMapper" >
  <resultMap id="BaseResultMap" type="com.webSpider.pojo.User2Music" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="musicid" property="musicid" jdbcType="VARCHAR" />
    <result column="ratio" property="ratio" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, musicid, ratio
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_user_music
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_user_music
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.webSpider.pojo.User2Music" >
    insert into tb_user_music (id, userid, musicid, 
      ratio)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{musicid,jdbcType=VARCHAR}, 
      #{ratio,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.webSpider.pojo.User2Music" >
    insert into tb_user_music
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="musicid != null" >
        musicid,
      </if>
      <if test="ratio != null" >
        ratio,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="musicid != null" >
        #{musicid,jdbcType=VARCHAR},
      </if>
      <if test="ratio != null" >
        #{ratio,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.webSpider.pojo.User2Music" >
    update tb_user_music
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="musicid != null" >
        musicid = #{musicid,jdbcType=VARCHAR},
      </if>
      <if test="ratio != null" >
        ratio = #{ratio,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.webSpider.pojo.User2Music" >
    update tb_user_music
    set userid = #{userid,jdbcType=VARCHAR},
      musicid = #{musicid,jdbcType=VARCHAR},
      ratio = #{ratio,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>