<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webSpider.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.webSpider.pojo.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="listensongscount" jdbcType="INTEGER" property="listensongscount" />
    <result column="followscount" jdbcType="INTEGER" property="followscount" />
    <result column="fanscount" jdbcType="INTEGER" property="fanscount" />
    <result column="userurl" jdbcType="VARCHAR" property="userurl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userid, name, sex, level, listensongscount, followscount, fanscount, userurl
  </sql>
  <!-- 根据Userid查询用户 -->
  <select id="selectByUserid" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from tb_userinfo
    where userid = #{userid}
  </select>
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from tb_userinfo-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
    <!--delete from tb_userinfo-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.webSpider.pojo.UserInfo">-->
    <!--insert into tb_userinfo (id, userid, name, -->
      <!--sex, level, listensongscount, -->
      <!--followscount, fanscount, userurl-->
      <!--)-->
    <!--values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, -->
      <!--#{sex,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{listensongscount,jdbcType=INTEGER}, -->
      <!--#{followscount,jdbcType=INTEGER}, #{fanscount,jdbcType=INTEGER}, #{userurl,jdbcType=VARCHAR}-->
      <!--)-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.webSpider.pojo.UserInfo">-->
    <!--insert into tb_userinfo-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="userid != null">-->
        <!--userid,-->
      <!--</if>-->
      <!--<if test="name != null">-->
        <!--name,-->
      <!--</if>-->
      <!--<if test="sex != null">-->
        <!--sex,-->
      <!--</if>-->
      <!--<if test="level != null">-->
        <!--level,-->
      <!--</if>-->
      <!--<if test="listensongscount != null">-->
        <!--listensongscount,-->
      <!--</if>-->
      <!--<if test="followscount != null">-->
        <!--followscount,-->
      <!--</if>-->
      <!--<if test="fanscount != null">-->
        <!--fanscount,-->
      <!--</if>-->
      <!--<if test="userurl != null">-->
        <!--userurl,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--#{id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="userid != null">-->
        <!--#{userid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="name != null">-->
        <!--#{name,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="sex != null">-->
        <!--#{sex,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="level != null">-->
        <!--#{level,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="listensongscount != null">-->
        <!--#{listensongscount,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="followscount != null">-->
        <!--#{followscount,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="fanscount != null">-->
        <!--#{fanscount,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="userurl != null">-->
        <!--#{userurl,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.webSpider.pojo.UserInfo">-->
    <!--update tb_userinfo-->
    <!--<set>-->
      <!--<if test="userid != null">-->
        <!--userid = #{userid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="name != null">-->
        <!--name = #{name,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="sex != null">-->
        <!--sex = #{sex,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="level != null">-->
        <!--level = #{level,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="listensongscount != null">-->
        <!--listensongscount = #{listensongscount,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="followscount != null">-->
        <!--followscount = #{followscount,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="fanscount != null">-->
        <!--fanscount = #{fanscount,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="userurl != null">-->
        <!--userurl = #{userurl,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.webSpider.pojo.UserInfo">-->
    <!--update tb_userinfo-->
    <!--set userid = #{userid,jdbcType=VARCHAR},-->
      <!--name = #{name,jdbcType=VARCHAR},-->
      <!--sex = #{sex,jdbcType=VARCHAR},-->
      <!--level = #{level,jdbcType=INTEGER},-->
      <!--listensongscount = #{listensongscount,jdbcType=INTEGER},-->
      <!--followscount = #{followscount,jdbcType=INTEGER},-->
      <!--fanscount = #{fanscount,jdbcType=INTEGER},-->
      <!--userurl = #{userurl,jdbcType=VARCHAR}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<resultMap id="BaseResultMap" type="com.webSpider.pojo.UserInfo">-->
    <!--<id column="id" jdbcType="INTEGER" property="id" />-->
    <!--<result column="userno" jdbcType="VARCHAR" property="userno" />-->
    <!--<result column="name" jdbcType="VARCHAR" property="name" />-->
    <!--<result column="level" jdbcType="INTEGER" property="level" />-->
    <!--<result column="eventcount" jdbcType="INTEGER" property="eventcount" />-->
    <!--<result column="followcount" jdbcType="INTEGER" property="followcount" />-->
    <!--<result column="fancount" jdbcType="INTEGER" property="fancount" />-->
    <!--<result column="location" jdbcType="VARCHAR" property="location" />-->
  <!--</resultMap>-->
</mapper>