<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webSpider.dao.User2MusicMapper" >
  <resultMap id="BaseResultMap" type="com.webSpider.pojo.User2Music" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="musicid" property="musicid" jdbcType="VARCHAR" />
    <result column="ratio" property="ratio" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, musicid, ratio
  </sql>

  <!-- 根据Userid查询用户 -->
  <select id="selectByUseridAndMusicid" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from tb_user_music
    where userid = #{userid} AND musicid = #{musicid}
  </select>
</mapper>